* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1500px; /* Set the maximum width */
    margin: 0 auto;  /*Center align the container */
    padding: 0 20px; /* Add some padding for small devices */
  }

  .main-div {
    border: 2px solid red;
  }

  input {
    background-color: rgb(206, 243, 252);
    margin: 20 auto;
  }

  .main-div>:nth-child(2) {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  button {
    width: 100px;
    height: 50px;
    padding: 5px 5px;
    margin: 10px 25px;
    border: 2px solid green;
    
  }